body {
	--background-color: #212121;
	--text-color: #fff;
	--primary-color: var(--text-color);
	--secondary-color: #bcbcbc;
	--disabled-color: #646464;
	--divider-color: #3c3c3c;
	--nav-bar-height: 64px;
	--player-bar-height: 72px;
	--header-padding: 32px 0 24px 0;
	--search-width: 860px;
	--footer-height: 188px;
}
