@import '/src/styles/mixin';

.wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.title {
	color: white;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.6;
}

.titleLink {
	@extend .title;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.description {
	margin: 0 0 2px 0;
	color: #aaa;
	font-size: 14px;
}

.thumbnail {
	width: 40px;
	height: 40px;
}

.thumbnailRound {
	border-radius: 50%;
	overflow: hidden;
}

@include screenSm() {
	.wrapper {
		gap: 16px;
	}

	.thumbnail {
		width: 48px;
		height: 48px;
	}
}

@include screenMd() {
	.title {
		font-size: 28px;
	}
	.description {
		font-size: 16px;
	}
}

@include screenLg() {
	.title {
		font-size: 34px;
	}

	.thumbnail {
		width: 56px;
		height: 56px;
	}
}

@include screenXl() {
	.title {
		font-size: 48px;
	}
}
